# Set a Content Security Policy
# Note: This is a basic policy. You may need to add more sources (e.g., for fonts, styles).
Header always set Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline' https://www.googletagmanager.com https://connect.facebook.net https://code.jquery.com https://cdn.jsdelivr.net https://kit.fontawesome.com https://assets.flodesk.com https://assets.mailerlite.com; style-src 'self' 'unsafe-inline' https://cdn.jsdelivr.net https://fonts.googleapis.com; font-src 'self' https://fonts.gstatic.com https://ka-f.fontawesome.com; connect-src 'self' https://region1.google-analytics.com https://ka-f.fontawesome.com; img-src 'self' https://www.facebook.com; upgrade-insecure-requests"
AddType application/xml xml

RewriteEngine On

# 1. Force HTTPS and www
RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteCond %{HTTP_HOST} ^(?:www\.)?(.+)$ [NC]
RewriteRule ^ https://www.%1%{REQUEST_URI} [L,R=301,NE]

# Exclude webhook.php from the following rules
RewriteCond %{REQUEST_URI} ^/studyclub/webhook\.php$ [NC]
RewriteRule ^ - [L]

# 2. Redirect from .php URL to the clean URL (for SEO and bookmarks)
RewriteCond %{THE_REQUEST} \s/+(.+?)\.php[\s?] [NC]
RewriteRule ^ %1 [R=301,L]

# 3. Internally rewrite the clean URL to the .php file on the server
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [L]