/* GENERAL */
p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Glacial Indifference', sans-serif;
                                                
}

.bg-grey {
    background-color:#485963;
}

/* To create a consistent look across all boxes */
.rounded-border {
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
}

#circle-container {
    width: 280px;
    height: 280px;
    padding: 30px;
    border-style: solid;
    border-color:#d74331;
    background-color: #d74331;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}


/* FOOTER */
#landing-footer {
    background-color: #fff;
    z-index: 10;
}

#socials a {
    color: #383838;
}

/* HERO */
#call-to-action-1 {
    background-color: #D74331;
    font-family: "Quicksand", serif;
    letter-spacing: 0.5px;
    font-size: 15px;
    color: white;
    border-radius: 35px;
    max-width: 500px;
    box-shadow: 10px 10px lightblue;

}

#call-to-action-1:hover {
    background-color: white;
    color: #383838;
}

.hero-banner-contact {
    /* Photo by <a href="https://unsplash.com/@markusspiske?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Markus Spiske</a> on <a href="https://unsplash.com/photos/yellow-orange-red-green-and-blue-abstract-painting-k0rVudBoB4c?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a> */
    background-image: url(../images/markus-spiske-k0rVudBoB4c-unsplash-crop.webp);
    background-position: center;
    background-size: contain;
}

.photo-credit {
    font-weight: 100;
    font-size: 10px;
    margin-left: 20px;
}

.hero-title {
    background-color: rgba(56, 56, 56, 0.5)
}

#hero-logo {
    width: 25%;
    max-width: 200px;
}

/* MINi COURSE */
#mini-course {
    background-color:#485963;
    color:white;
    padding-top: 30px;
    padding-bottom: 80px;
}

/* ABOUT ME */
#about-me img {
    width: 100%;
}

#about-pg {
    border-top: solid #d74331 25px;
}

.main-photo {
    width: 100%;
    max-width: 300px;
}

.call-to-action {
    max-width: 170px;
    min-width: 150px;
}

/* --------------------------------------------Contact page form*/
#contact-form {
    font-family: "Quicksand", sans-serif;
}

input[type=text],
input[type=email] {
    width: 200px;
    padding: 5px;
    margin: 8px 0;
    /* This includes the padding and border in the total size of the box */
    box-sizing: border-box;
}

input[type=textarea] {
    max-width: 768px;
    height: 200px;
    padding: 5px;
    margin: 8px;
}

.form-wrapper {
    padding: 30px;
    max-width: 768px;
    margin: auto 0;
    box-shadow: 0 0 10px;
}

.form-button {
    width: 236px;
    margin: 0 auto;
    border-radius: 15px;
    border: rgb(7, 116, 116);
}

#description {
    height: 150px;
    margin: 5px auto 15px;
}

label {
    display: block;
}

.btn-check:checked+.btn,
:not(.btn-check)+.btn:active,
.btn:first-child:active,
.btn.active,
.btn.show {
    background-color: #485963;
}

/* --------------------------------------------Landing Page*/

#landing-toggle {
    margin: 0 auto;
}

#landing-img {
    width: 100%;
    max-width: 500px;
}


/* --------------------------------------------TESTIMONIALS*/

#carouselReviews {
    max-width: 500px;
}


/* mini-course thank you page*/
#student-signup, #call-booking {
    background-color: #a10a65;
    font-family: "Quicksand", serif;
    letter-spacing: 0.5px;
    font-size: 15px;
    color: white;
    border-radius: 35px;
    max-width: 300px;
}

#student-signup:hover, #call-booking:hover {
    background-color: white;
    color: #383838;
}

/* ---------------------------FADE TEXT CODE (NOT CURRENTLY BEING USED) */
.fade-text {
    height: 100px; /* Adjust height as needed */
    overflow: hidden;
    position: relative;
}
.fade-text::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20px; /* Height of fade effect */
    background: linear-gradient(transparent, rgba(72, 89, 99, 0.9));
    pointer-events: none;
}
.hidden-text {
    display: none;
}
.no-fade {
    height: auto !important;
    overflow: visible !important;
}
.no-fade::before {
    display: none !important;
}




.slide-in {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.slide-in.visible {
    opacity: 1;
    transform: translateX(0);
}



#thank-you-img {
    max-width: 200px;
}