// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
$primary: #637380;
$secondary: #DBC4B2;

@import "../node_modules/bootstrap/scss/bootstrap";

//Custom CSS
body {
    font-family: "Quicksand", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Alegreya Sans", sans-serif;
}
#call-to-action-1 {
    background-color: #637380;
    font-family: "Quicksand", serif;
    letter-spacing: 0.5px;
    font-size: 15px;
    color: white;
    border-radius: 15px;
    width: 150px;

}
#call-to-action-1:hover {
    background-color: white;
    color:#485963;
}
/* To create a consistent look across all boxes */
.rounded-border {
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.hero-banner {
    // Photo by <a href="https://unsplash.com/@markusspiske?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Markus Spiske</a> on <a href="https://unsplash.com/photos/yellow-orange-red-green-and-blue-abstract-painting-k0rVudBoB4c?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
    background-image: url(../assets/images/markus-spiske-k0rVudBoB4c-unsplash-crop.webp);
    background-position: right;
    background-size: cover;
}

.hero-banner-contact {
    // Photo by <a href="https://unsplash.com/@markusspiske?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Markus Spiske</a> on <a href="https://unsplash.com/photos/yellow-orange-red-green-and-blue-abstract-painting-k0rVudBoB4c?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
    background-image: url(../assets/images/markus-spiske-k0rVudBoB4c-unsplash-crop.webp);
    background-position: center;
    background-size: contain;
}

.photo-credit {
    font-weight: 100;
    font-size: 10px;
    margin-left: 20px;
}

.hero-title {
   background-color: rgba(99,115,128, 0.5);
}

#hero-logo {
    width: 25%;
    max-width: 200px;
}

.side-panel {
   display: flex;
   align-items: center;
   margin-bottom: 20px;
}

.main-photo { 
    width: 100%;
    max-width: 300px;
}

.call-to-action {
    max-width: 170px;
    min-width: 150px;
}

.what-if {
    width: 90%;
    max-width: 500px;
    border-radius: 15px;
}
@media only screen and (min-width: 768px) {
    .side-panel {
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
        bottom: 0;
        height: 100vh;
        margin-bottom: 0;
    }
}

/* --------------------------------------------Contact page form*/
#contact-form {
    font-family: "Quicksand", sans-serif;
}

input[type=text],
input[type=email] {
    width: 200px;
    padding: 5px;
    margin: 8px 0;
    /* This includes the padding and border in the total size of the box */
    box-sizing: border-box;
}

input[type=textarea] {
    max-width: 768px;
    height: 200px;
    padding: 5px;
    margin: 8px;
}

.form-wrapper {
    padding: 30px;
    max-width: 768px;
    margin: auto 0;
    box-shadow: 0 0 10px;
}

.form-button {
    width: 236px;
    margin: 0 auto;
    border-radius: 15px;
    border:rgb(7, 116, 116);
}

#description {
    height: 150px;
    margin: 5px auto 15px;
}

label {
    display: block;
}

.btn-check:checked + .btn, :not(.btn-check) + .btn:active, .btn:first-child:active, .btn.active, .btn.show {
    background-color: #485963;
}
